export(CombBasis,Eta,LogBF,MCMCEstIteration,MCMCOneIteration,PilotSampleDeltaGlobalUpdateVec,bmsaplm,estaplm)
S3method(print,bmsaplm)
S3method(print,estaplm)
S3method(print,predaplm)
S3method(summary,bmsaplm)
S3method(summary,estaplm)
S3method(summary,predaplm)
S3method(plot,estaplm)
S3method(plot,predaplm)
S3method(predict,estaplm)
importFrom(Rcpp,sourceCpp)
import(stats,graphics,grDevices,nleqslv)
useDynLib(bmsaplm)
